/*for the sizings*/
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-9 {width: 75%;}

@media only screen and (max-width: 1680px) {
    /* For desktop: */
    [class*="col-6"] {
      display: flex;
      width: 100%;
    }
    html{
      font-family: "ubuntu";
       background-image: linear-gradient(120deg, #0d0e28 0%, #433df8 74%);
       color : white;
       background-color: darkblue;
    }
    #ThePcs li a{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    #ThePcs li a img{
      width: 300px;
      padding-left: 29%;
    }
    img{
      width: 300px;
    }
      body{
          background-color: #01025a;
          text-align: center;
      }
      #loe{
        width: 50%;
        display: inline;

        size: 12px;
        text-size-adjust: 12px;
        -webkit-text-size-adjust: 12px;
        -moz-text-size-adjust: 12px;
        -ms-text-size-adjust: 12px;
        -o-text-size-adjust: 12px;
        -khtml-text-size-adjust: 12px;
      }
      nav{
        background-image: linear-gradient(120deg, #0006ab 0%, #8082ff 74%);
        font-size: x-large;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        word-spacing: 2vi;
      }
      
      nav a{
        color: aquamarine;
      }

      nav a:hover{
        color: rgb(123, 0, 255);
      }
      iframe{
        display: flex;
        width: 300px;
        border: none;
        padding-left: 29%;
      }
      /**/

      @font-face {
        font-family: "ubuntu";
        font-style: italic;
        font-weight: 300;
        src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
      }
  }

  @media only screen and (max-width: 768px) {
    [class*="col-5"] {
        display: flex;
      width: 100%;
    }
    img{
      width: 48vh;
    }
    body {
      background-color:rgb(56, 56, 56);
    }
    html{
      background-image: none;
      font-family: "ubuntu";
      font-size: large;
      z-index: 2;
    }
    p{
        font-size: large;
    }
    #loe{
        size: 12px;
        text-size-adjust: 12px;
        -webkit-text-size-adjust: 12px;
        -moz-text-size-adjust: 12px;
        -ms-text-size-adjust: 12px;
        -o-text-size-adjust: 12px;
        -khtml-text-size-adjust: 12px;
    }
    nav a:hover{
      color: rgb(123, 147, 255);
    }
    iframe{
      display: flex;
      width: 45%;
      border: none;
      padding: auto;
      padding-left: auto;
    }
}

@media only screen and (max-width: 480px) {
    [class*="col-9"] 
    {
        display: flex;
        width: 100%;
    }
    img{
      width: 42vh;
    }
    nav{
      background-image: none;
    };
    nav span{
      font-size: x-large;
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      word-spacing: 2vi;
      background-image: none;
      z-index: 1;
    }
    nav a:hover{
      color: rgb(0, 255, 221);
    }
    nav span a{
      color: rgb(39, 70, 206);
    }
    #loe{
        size: 12px;
        text-size-adjust: 12px;
        -webkit-text-size-adjust: 12px;
        -moz-text-size-adjust: 12px;
        -ms-text-size-adjust: 12px;
        -o-text-size-adjust: 12px;
        -khtml-text-size-adjust: 12px;
        font-size: larger;
    }

    #ThePcs li a img{
      width: 85%;
    }

    @font-face {
      font-family: "ubuntu";
      font-style: italic;
      font-weight: 300;
      src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
    }

    body {
      height: 100vh;
      margin: 0;
      background-color: #353535;
      font-family: "ubuntu", Arial, sans-serif;
      overflow-x: hidden;
      display: grid;
      place-items: center;
      background-image: none;
    }
    
    a {
      text-decoration: none;
      color: #9ca0b1;
    }
    
    iframe{
      display: flex;
      width: 84%;
      border: none;
      padding-left: 0%;
    }
}



